2. Given a string of numbers separated by a comma and space, return the product of the numbers.

In [33]:
def multiply_nums(string):
    mul = 1
    nums = string.split(",")
    for i in nums:
            mul = mul * int(i)
    return mul

In [34]:
multiply_nums("2, 3")

6

In [35]:
multiply_nums("10, -2")

-20

3. Create a function that squares every digit of a number.
The function receives an integer and must return an integer.

In [36]:
def square_digits(num):
  nums = str(num)
  strr = ''
  for i in nums:
    ans = int(i)*int(i)
    strr =  strr + str(ans)
  return int(strr)

In [37]:
square_digits(52)

254

In [38]:
square_digits(2483)

416649

4. Create a function that sorts a list and removes all duplicate items from it.

In [39]:
def setify(lst):
  return list(set(lst))

In [40]:
def setify_1(lst):
  un_lst = []
  for i in lst:
    if i not in un_lst:
      un_lst.append(i)
  return un_lst

In [41]:
setify_1([1, 3, 3, 5, 5])

[1, 3, 5]

In [42]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [43]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

In [44]:
setify([4, 4, 4, 4, 4])

[4]

5. Create a function that returns the mean of all digits.

In [45]:
def mean(num):
  sum = 0
  number = str(num)
  for i in number:
    sum = sum + int(i)
  mean = sum / len(number)
  return mean

In [46]:
mean(42)

3.0

In [47]:
mean(666)

6.0

In [48]:
mean(12345)

3.0