1. Create a function that takes a list of non-negative integers and strings and return a new list without the strings.

In [95]:
def filter_list(lst):
  lst1 =[]
  for i in lst:
    if isinstance(i,int):
      lst1.append(i)
  return lst1

In [96]:
filter_list([1, "a", "b", 0, 15])

[1, 0, 15]

In [97]:
filter_list([1, 2, "aasf", "1", "123", 123])

[1, 2, 123]

2. The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.

In [98]:
def reverse(word):
  string =''
  word = word[::-1]
  for i in word:
    if(i==i.upper()):
      string = string + i.lower()
    else:
      string = string + i.upper()
  return string

In [99]:
reverse("Hello World")

'DLROw OLLEh'

In [100]:
reverse("Radar")

'RADAr'

3. You can assign variables from lists like this:
lst = [1, 2, 3, 4, 5, 6]
first = lst[0]
middle = lst[1:-1]
last = lst[-1]

-- print(first) ➞ outputs 1

-- print(middle) ➞ outputs [2, 3, 4, 5]

-- print(last) ➞ outputs 6

In [101]:
first, *middle, last = [1,2,3,4,5,6]
print("First :",first)
print("Middle : ",middle)
print("Last : ",last)

First : 1
Middle :  [2, 3, 4, 5]
Last :  6

4. Write a function that calculates the factorial of a number recursively.

In [102]:
def factorial(num):
  if num==1:
    return num
  else:
    return num * factorial(num-1)

In [103]:
factorial(5)

120

5. Write a function that moves all elements of one type to the end of the list.

In [117]:
def move_to_end(lst,num):
  
    for i in range(len(lst)-1):
        if lst[i] == num:
          lst.remove(num)
          lst.append(num)
        else:
            pass
    return lst

In [118]:
move_to_end([1, 3, 2, 4, 4, 1], 1)

[3, 2, 4, 4, 1, 1]

In [119]:
move_to_end([7, 8, 9, 1, 2, 3, 4], 9)

[7, 8, 1, 2, 3, 4, 9]

In [107]:
move_to_end(["a", "a", "a", "b"], "a")

['b', 'a', 'a', 'a']