1. Write a Python program to convert kilometers to miles?

In [4]:
km = float(input("Enter Distance in Kilometers : "))

m = 0.62437 * km
print(f"{km} Kilometer is equivalent to {m} in miles.")

Enter Distance in Kilometers : 5
5.0 Kilometer is equivalent to 3.12185 in miles.

2. Write a Python program to convert Celsius to Fahrenheit?

In [6]:
c = int(input("Enter the Temperature in Celsius : "))

f= (c *( 9/5) + 32 )

print(f"{c} Celsius is {f} in Farhrenheit.")

Enter the Temperature in Celsius : 35
35 Celsius is 95.0 in Farhrenheit.

3. Write a Python program to display calendar?

In [8]:
# This is monthwise Calender
import calendar
yy = int(input("Enter year: "))
mm = int(input("Enter month: "))      
print(calendar.month(yy, mm))

Enter year: 2023
Enter month: 01
    January 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [12]:
# This is yearwise Calender
import calendar
yy = int(input("Enter year: "))
print(calendar.calendar(yy))

Enter year: 2023
                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

4. Write a Python program to solve quadratic equation?

In [32]:
import cmath
print("Your Expression is in format aX^2 + bX + c = 0 & a not equal to 0 ")
a = int(input("Enter the value of a "))
b = int(input("Enter the value of b "))
c = int(input("Enter the value of c "))
d = (b**2) - 4*a*c

if d > 0 :
  print("Roots are Real and Unequal")
  sol1 = ((-b - cmath.sqrt(d) / 2* a))
  sol2 = ((-b + cmath.sqrt(d) / 2* a))
  print(f"Solutions are {sol1} and {sol2}")
elif d == 0 :
  print("Roots are Real and Equal")
  sol1 = ((-b - cmath.sqrt(d) / 2* a))
  sol2 = ((-b + cmath.sqrt(d) / 2* a))
  print(f"Solutions are {sol1} and {sol2}")
else:
  print("Roots are Complex")
  sol1 = ((-b - cmath.sqrt(d) / 2* a))
  sol2 = ((-b + cmath.sqrt(d) / 2* a))
  print(f"Solutions are {sol1} and {sol2}")

Your Expression is in format aX^2 + bX + c = 0 & a not equal to 0
Enter the value of a 1
Enter the value of b -1
Enter the value of c 1
Roots are Complex
Solutions are (1-0.8660254037844386j) and (1+0.8660254037844386j)

5. Write a Python program to swap two variables without temp variable?-

In [18]:
a = int(input("a ="))
b = int(input("b ="))
print(f"Numbers before swap a={a} and b={b}")
a = a + b 
b = a - b
a = a - b
print(f"Numbers after swap a={a} and b={b}")

a =5
b =3
Numbers before swap a=5 and b=3
Numbers after swap a=3 and b=5