##1. Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

In [ ]:
def next_in_line(lst,next):
  lst.pop(0)
  lst.append(next)
  print(lst)

In [ ]:
a = [5,6,7,8,9,11,12]
n = 13
next_in_line(a,n)

[6, 7, 8, 9, 11, 12, 13]

##2.Create the function that takes a list of dictionaries and returns the sum of people&#39;s budgets.

In [ ]:
def get_budgets(d):
  sum = 0
  for i in range(len(d)):
    sum = sum + d[i].get("budget")
  print(f"The sum of budgets is {sum}")

In [ ]:
get_budgets( [
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
] )

The sum of budgets is 65700

In [ ]:
get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
])

The sum of budgets is 62600

##3.Create a function that takes a string and returns a string with its letters in alphabetical order.

In [ ]:
def alphabet_soup(word):
  print( ''.join(sorted(word)) )

In [ ]:
alphabet_soup('helloword')

dehlloorw

##4. Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

In [ ]:
def compound_interest(principle, year, rate, period):
  amt = ( 1 + ( rate / period))**(year * period)  
  amt = round((principle * amt ),2)  
  print(amt)

In [ ]:
compound_interest(10000, 10, 0.06, 12)

18193.97

In [ ]:
compound_interest(3500, 15, 0.1, 4)

15399.26

#5. Write a function that takes a list of elements and returns only the integers.

In [ ]:
def return_only_integer(lst):
  lst1=[]
  for i in range(len(lst)):
    if (type(lst[i])== int):
      lst1.append(lst[i])
  print(lst1)

In [ ]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

In [ ]:
return_only_integer([10, "121", 56, 20, "car", 3, "lion",5.5,1000,"6.3"])

[10, 56, 20, 3, 1000]