1. Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

In [ ]:
def filter_list(lst):
  lst1 = []
  for i in range(len(lst)):
    if (type(lst[i])==int):
      lst1.append(lst[i])
  return lst1

In [ ]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [ ]:
filter_list(["Nothing", "here"])

[]

2. Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

In [ ]:
def add_indexes(lst):
  lst1=[]
  for i in range(len(lst)):
    a= lst[i]+i;
    lst1.append(a)
  return lst1

In [ ]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [ ]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

3. Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [ ]:
def cone_volume(h,r):
  vol = round( (1/3) * 3.14 * h * (r**2) , 2 )
  return vol

In [ ]:
cone_volume(3,2)

12.56

In [ ]:
cone_volume(15, 6)

565.2

4. This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number of the sequence.

In [1]:
def triangle(n):
    if n <= 0:
        return 0
    else:
        return (n * (n + 1)) // 2

In [2]:
triangle(6)

21

5. Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

In [12]:
def missing_num(numbers):
    full_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    missing_number = sum(full_list) - sum(numbers)
    return missing_number

In [13]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5