1.	Write a Python Program to Find LCM?

In [68]:
def LCM(num1,num2):          # LCM by listing method
  max_num = max(num1 , num2)
  lst1 = []
  lst2 = []
  for i in range(1,max_num+1):                 # create multiple of num1
    lst1.append(num1*i)

  for i in range(1,max_num+1):                 # create multiple of num2
    lst2.append(num2*i)

  lcm = []                       # for adding common numbers that present is both lst1 and lst2
  for i in lst1:
    if i in lst2:
      lcm.append(i)
  return min(lcm)

In [69]:
a = int(input("Enter the first number " ))
b = int(input("Enter the second number " ))
lc = LCM(a,b)
print(f"The Least Common Multiple (LCM) of {a} and {b} is {lc}")

Enter the first number 6
Enter the second number 10
The Least Common Multiple (LCM) of 6 and 10 is 30

2.	Write a Python Program to Find HCF?

      Formula :  LCM(a,b) = [  a x b / HCF (a,b) ]

In [70]:
# using formula to find HCF 

a = int(input("Enter the first number " ))
b = int(input("Enter the second number " ))
lc = LCM(a,b)
hcf = ( (a*b) / lc )
print(f"The Highest Common Factor (HCF) of {a} and {b} is {hcf}")

Enter the first number 21
Enter the second number 12
The Highest Common Factor (HCF) of 21 and 12 is 3.0

3.	Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal?

In [71]:
def to(num, base):
    lst = []
    while num > 0:
        digit = num % base
        lst.append(digit)
        num = num // base
    lst1 = [str(i) for i in reversed(lst)]
    return lst1

def replace_values(lst):
    mapping = {
        10: 'A',
        11: 'B',
        12: 'C',
        13: 'D',
        14: 'E',
        15: 'F'
    }
    replaced_list = [mapping.get(int(item), item) for item in lst]
    return ''.join(replaced_list)


decimal_num = 100

binary_num = to(decimal_num, 2)
replaced_binary = replace_values(binary_num)
print("Binary:", replaced_binary)

octal_num = to(decimal_num, 8)
replaced_octal = replace_values(octal_num)
print("Octal:", replaced_octal)

hexadecimal_num = to(decimal_num, 16)
replaced_hexadecimal = replace_values(hexadecimal_num)
print("Hexadecimal:", replaced_hexadecimal)

Binary: 1100100
Octal: 144
Hexadecimal: 64

In [72]:
def decimal_to_binary(decimal):
    binary = bin(decimal).replace("0b", "")
    return binary

def decimal_to_octal(decimal):
    octal = oct(decimal).replace("0o", "")
    return octal

def decimal_to_hexadecimal(decimal):
    hexadecimal = hex(decimal).replace("0x", "").upper()
    return hexadecimal


decimal_num = 100

binary_num = decimal_to_binary(decimal_num)
print("Binary:", binary_num)

octal_num = decimal_to_octal(decimal_num)
print("Octal:", octal_num)

hexadecimal_num = decimal_to_hexadecimal(decimal_num)
print("Hexadecimal:", hexadecimal_num)

Binary: 1100100
Octal: 144
Hexadecimal: 64

4.	Write a Python Program To Find ASCII value of a character?

In [73]:
def ascii(character):
    return ord(character)


char = '$'
ascii_value = ascii(char)
print("ASCII value of", char, "is", ascii_value)

ASCII value of $ is 36

5.	Write a Python Program to Make a Simple Calculator with 4 basic mathematical operations?

In [1]:
def calculator(num1,num2,operator):
  if operator=='+':
    return num1+num2
  elif operator=='-':
    return num1-num2
  elif operator=='*':
    return num1*num2
  elif operator=='/':
    return num1/num2

In [74]:
a = float(input("Enter the first number : - "))
b = float(input("Enter the first number : - "))
c = input("Choose operation { + , - , * , / } ")
d = calculator(a,b,c)

print("Answer is ",d)

Enter the first number : - 15
Enter the first number : - 5
Choose operation { + , - , * , / } /
Answer is  3.0