##Assignment 10

1. Write a Python program to find sum of elements in list?

In [ ]:
l = [ 1,2,3,4,5]
sum = 0
for i in range(len(l)):
   sum = sum + l[i]
print(sum)

15

2. Write a Python program to Multiply all numbers in the list?

In [ ]:
l = [ 1,2,3,4,5]
mul = 1
for i in range(len(l)):
   mul = mul * l[i]
print(mul)

120

3. Write a Python program to find smallest number in a list?

In [ ]:
l = [ 5,6,8,55,15,20,-23]
l.sort()
print(f"The smallest number in list is {l[0]}")

The smallest number in list is -23

4. Write a Python program to find largest number in a list ?

In [ ]:
l = [ 5,6,8,55,15,20,-23]
l.sort(reverse=True)
print(f"The largest number in list is {l[0]}")

The largest number in list is 55

5. Write a Python program to find second largest number in a list?

In [ ]:
l = [ 5,6,8,55,15,20,-23]
l.sort(reverse=True)
print(f"The second largest number in list is {l[1]}")

The second largest number in list is 20

6. Write a Python program to find N largest elements from a list?

In [ ]:
l = [ 5,6,8,4,101,55,81,31,88,45,66,98,85,45,23,55]
n = int(input("find N largest elements from a list "))
l.sort(reverse = True)
a = list()
for i in range(n):
  a.append(l[i])
print(f"{n} largest elements from a list are {a}")

find N largest elements from a list 4
4 largest elements from a list are [101, 98, 88, 85]

7. Write a Python program to print even numbers in a list?

In [ ]:
l = [ 5,6,8,4,101,55,81,31,88,45,66,98,85,45,23,55]
e = list()
for i in range(len(l)):
  if l[i] % 2 == 0:
    e.append(l[i])
print(f"Even Number are {e}")

Even Number are [6, 8, 4, 88, 66, 98]

8. Write a Python program to print odd numbers in a List?

In [ ]:
l = [ 5,6,8,4,55,81,31,88,45,66,98,45,23]
o = list()
for i in range(len(l)):
  if l[i] % 2 != 0:
    o.append(l[i])
print(f"Odd Number are {o}")

Odd Number are [5, 55, 81, 31, 45, 45, 23]

9. Write a Python program to Remove empty List from List?

In [ ]:
l = [58, 64,["hello","hi"] ,[], 3, [], [], 59]
print("Before list",l)
a=list()
for i in l:
  if i != []:
    a.append(i)
print("After removing empty list",a)

Before list [58, 64, ['hello', 'hi'], [], 3, [], [], 59]
After removing empty list [58, 64, ['hello', 'hi'], 3, 59]

10. Write a Python program to Cloning or Copying a list?

In [ ]:
list1 = [ 1,2,3,5,4,5,8,8,5,4,5,4]
new_list = list(list1)
print("list is " , list1 ,"\nclone'/copy list is" ,new_list)


"""
#Another method 
list1 = [ 1,2,3,5,4,5,8,8,5,4,5,4]
new_list = list1.copy()
print("list is " , list1 ,"\nclone'/copy list is" ,new_list)

"""

list is  [1, 2, 3, 5, 4, 5, 8, 8, 5, 4, 5, 4]
clone'/copy list is [1, 2, 3, 5, 4, 5, 8, 8, 5, 4, 5, 4]

11. Write a Python program to Count occurrences of an element in a list?

In [ ]:
l = [ 1,1,2,5,6,55,5,8,11,56,85,995,854,5,65,845,5]
print("list is \t",l)
n = int(input("Enter the number to Count occurrences of an element "))
count = 0
for i in range(len(l)):
  if l[i] == n:
    count = count + 1
print (f"{n} occured {count} times in list.")

list is 	 [1, 1, 2, 5, 6, 55, 5, 8, 11, 56, 85, 995, 854, 5, 65, 845, 5]
Enter the number to Count occurrences of an element 5
5 occured 4 times in list.